SECRET_KEY=d229eb08d11b14739b5522c158d0f01167adbae9d42f5f87a57c94ec30edf673
USER_HOST=auth_service
USER_PORT=8000
URL_TOKEN=http://localhost/users/auth/token
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=team_db
DB_HOST=team_db
DB_PORT=5432